@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,100);
/*
	@author    Dave Widmer <dwidmer@bgsu.edu>
*/
/* =============================================================================
   Object Oriented CSS
   ========================================================================== */
/* =============================================================================
   Variables
   ========================================================================== */
/* Colors
   ========================================================================== */
/* Grid
   ========================================================================== */
/* =============================================================================
   Mixins
   ========================================================================== */
/**
 * Creates a cross browser gradient
 *
 * @param $dir     The direction of the gradient
 * @param $color1  The first color
 * @param $color2  The second color
 */
/**
 * Adds the border box code.
 */
/**
 * Translate 3d mixin
 *
 * @param $x  The x coord (left/right)
 * @param $y  The y coord (up/down)
 * @param $z  The z coord (angle/spin...)
 */
/**
 * Transitions
 *
 * @param $prop  The property to transition
 * @param $time  The amount of time the animation takes (in seconds)
 * @param $fn    The easing function
 */
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2.5em;
  margin: 0.67em 0; }

h2 {
  font-size: 2em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.5em;
  margin: 1em 0; }

h4 {
  font-size: 1.25em;
  margin: 1.33em 0; }

h5 {
  font-size: 1.125em;
  margin: 1.67em 0; }

h6 {
  font-size: 1em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =============================================================================
   Button
   ========================================================================== */
.button {
  display: inline-block;
  padding: 0.5em 1em;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  overflow: visible;
  background-color: #c77966;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); }

.button:hover {
  cursor: pointer; }

.button:active {
  color: #fff;
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2); }

/* =============================================================================
   Grid
   ========================================================================== */
.container {
  width: 960px;
  margin: 0 auto; }

.row {
  width: 100%; }

.row:before,
.row:after {
  display: table;
  content: ""; }

.row:after {
  clear: both; }

[class*="span"] {
  margin-left: 2%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

[class*="span"]:first-child {
  margin-left: 0; }

/* Grid
   ========================================================================== */
.span1 {
  width: 6.5%; }

.span2 {
  width: 15%; }

.span3 {
  width: 23.5%; }

.span4 {
  width: 32%; }

.span5 {
  width: 40.5%; }

.span6 {
  width: 49%; }

.span7 {
  width: 57.5%; }

.span8 {
  width: 66%; }

.span9 {
  width: 74.5%; }

.span10 {
  width: 83%; }

.span11 {
  width: 91.5%; }

.span12 {
  width: 100%; }

/* =============================================================================
   Responsive'ness
   ========================================================================== */
@media (max-width: 767px) {
  .container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }

  [class*="span"] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0; }

  .hd {
    display: none; }

  .sd {
    display: none; }

  .mobile {
    display: inherit; }

  .hide-mobile {
    display: none; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }

  .hd {
    display: none; }

  .sd {
    display: inherit; }

  .mobile {
    display: none; }

  .hide-mobile {
    display: inherit; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; }

  .hd {
    display: inherit; }

  .sd {
    display: none; }

  .mobile {
    display: none; }

  .hide-mobile {
    display: inherit; } }
/*  ============================================================================
    Messages
    ========================================================================= */
.message {
  border-size: 1px;
  border-style: dotted;
  border-width: 1px 0;
  margin-bottom: 1em;
  padding: 0.75em 1em; }
  .message ul {
    padding: 0 0 0 1em;
    margin: 0; }
  .message li {
    line-height: 1.5; }
  .message.error {
    background-color: #FEE;
    color: #900; }
  .message.success {
    background-color: #EFE;
    color: #090; }

/* =============================================================================
   Fancybox
   ========================================================================== */
/* fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/* =============================================================================
   Theme
   ========================================================================== */
body {
  font-size: 16px;
  background-image: url("../images/background_beige.png");
  font-family: "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

h1, h3, h5 {
  color: #2f343b; }

h2, h4, h6 {
  color: #c77966; }

/** Navigation
    ============== */
#site-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  background-image: url("../images/background_blue.png");
  margin-top: 0 2em 2em; }
  #site-nav .navigation {
    margin: 0;
    padding-left: 0;
    border: 1px solid #5c6674; }
    #site-nav .navigation > li {
      border-bottom: 1px solid #464d57;
      border-top: 1px solid #020202; }
      #site-nav .navigation > li:first-child {
        border-top: 0; }
      #site-nav .navigation > li:last-child {
        border-bottom: 0; }
      #site-nav .navigation > li > a {
        padding: 1em;
        display: block;
        color: #e3cda4;
        text-decoration: none;
        text-shadow: 1px 3px 0 black; }
      #site-nav .navigation > li > a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.75) inset; }

#search-box {
  padding: 0.5em; }
  #search-box .input {
    width: 144px; }
  #search-box > form {
    border: 1px solid #c77966;
    padding: 0.5em; }

/** Content
    ========== */
#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 0 0.5em #7e827a; }

/** Footer
    ======== */
footer {
  margin-top: 2em;
  background-image: url("../images/background_blue.png");
  padding: 0.5em;
  color: #b1b3af; }
  footer small {
    font-size: 87.5%; }

/** Item - Browse
    ============== */
.browse {
  margin-top: 2em; }

.item-image {
  background-color: #eee;
  text-align: center;
  padding: 1em 0;
  box-shadow: 0 0 8px #999999 inset;
  border-top: 1px solid white; }

.item:nth-child(odd) .item-image {
  background-color: #ccc; }

.item-metadata {
  padding: 1em 0;
  border-top: 1px solid #dddddd; }

#secondary-nav .navigation {
  padding-left: 0;
  margin: 0;
  border-bottom: 1px solid #703030; }
  #secondary-nav .navigation > li {
    display: inline-block;
    margin-left: 1em;
    border: 1px solid #703030;
    -webkit-transform: translate3d(0, 1px, 0);
    -moz-transform: translate3d(0, 1px, 0);
    -o-transform: translate3d(0, 1px, 0);
    -ms-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    background-image: -webkit-linear-gradient(top, #943f3f, #4c2121);
    background-image: -moz-linear-gradient(top, #943f3f, #4c2121);
    background-image: -ms-linear-gradient(top, #943f3f, #4c2121);
    background-image: -o-linear-gradient(top, #943f3f, #4c2121); }
    #secondary-nav .navigation > li.active {
      background-image: none;
      background-color: #FFF;
      border-bottom: 1px solid white; }
      #secondary-nav .navigation > li.active > a {
        color: #703030;
        text-shadow: none; }
    #secondary-nav .navigation > li > a {
      text-decoration: none;
      display: block;
      padding: 0.5em;
      color: #fff;
      text-shadow: 1px 3px 0 black; }

/** Item - Show
    ============ */
.metadata-label {
  margin-bottom: 0; }

.book-covers {
  float: right; }
  .book-covers li {
    display: inline-block;
    margin-right: 1em; }
  .book-covers li:last-child {
    margin-right: 0; }

/** Styles
    =========== */
.red-velvet {
  background-image: url("../images/background_red_velvet.png"); }

.shadow {
  box-shadow: 0 0 0.5em #2f343b; }

.input {
  padding: 0.25em;
  font: inherit; }

.plain {
  padding-left: 0;
  list-style: none; }

.headline {
  margin-top: 0; }

.pagination {
  margin-top: 2em; }
  .pagination .navigation {
    margin: 1em 0 0.5em; }
    .pagination .navigation > li {
      display: inline-block;
      margin-right: 1em; }

.button.alt {
  background-color: #7e827a; }
.button.delete {
  background-color: #900; }

.btn-align {
  -webkit-transform: translate3d(0, -1px, 0);
  -moz-transform: translate3d(0, -1px, 0);
  -o-transform: translate3d(0, -1px, 0);
  -ms-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0); }

.outline {
  border: 1px solid #7e827a; }

.pad {
  padding: 0.5em; }

/** Typography
    =========== */
.hidden {
  display: none; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.push-down {
  margin-top: 1em; }
  .push-down.double {
    margin-top: 2em; }

.no-margin {
  margin: 0; }

/** Omeka Defaults
    ===================== */
#admin-bar {
  background-image: url("../images/background_blue.png"); }
  #admin-bar > ul {
    border: 1px solid #7e827a;
    border-width: 1px 0; }

.pagination_list {
  padding-left: 0;
  margin-bottom: 1px; }
  .pagination_list li {
    display: inline-block;
    padding: 0.5em 0.75em;
    background-color: #c77966;
    margin-right: 0.5em; }
    .pagination_list li a {
      text-decoration: none;
      color: #703030; }

#search-keywords {
  margin-top: 1.5em; }

.field {
  margin-bottom: 1.5em; }

.inputs {
  font: inherit; }

#advanced-search-form .input {
  width: 50%; }
#advanced-search-form .search-entry .input {
  width: 25%;
  margin-left: 1.5em; }

.search-entry {
  margin-bottom: 0.5em; }
  .search-entry select:first-child {
    margin-right: 1.5em; }

/** Tag Could
    ============= */
.hTagcloud ul, .hTagcloud .tags {
  padding-left: 0;
  list-style-type: none; }
  .hTagcloud ul > li, .hTagcloud ul .tag, .hTagcloud .tags > li, .hTagcloud .tags .tag {
    display: inline-block;
    margin: 0 16px 16px 0; }
    .hTagcloud ul > li a, .hTagcloud ul .tag a, .hTagcloud .tags > li a, .hTagcloud .tags .tag a {
      color: #fff;
      display: block;
      text-decoration: none;
      background-color: green;
      padding: 0.5em; }
.hTagcloud .v-popular {
  font-size: 1.125em; }
.hTagcloud .vv-popular {
  font-size: 1.25em; }
.hTagcloud .vvv-popular {
  font-size: 1.375em; }
.hTagcloud .vvvv-popular {
  font-size: 1.5em; }
.hTagcloud .vvvvvvvv-popular {
  font-size: 2em; }

/** Responsive
    ================ */
@media (max-width: 400px) {
  #search-box .input {
    width: 185px; }
  #search-box .button {
    width: 67px; } }
@media (max-width: 649px) {
  .book-covers {
    float: none; } }
@media (min-width: 401px) and (max-width: 767px) {
  #search-box .input {
    width: 75%; }
  #search-box .button {
    width: 20%; } }
@media (max-width: 767px) {
  .gallery [class*="span"] {
    float: none;
    display: inline-block;
    margin-left: 2%; }
  .gallery [class*="span"]:first-child {
    margin-left: 0; } }
@media (min-width: 768px) and (max-width: 1199px) {
  #search-box .input {
    width: 93%;
    margin-bottom: 0.5em; } }
