/* =============================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$colorRed: #703030;
$colorPink: #C77966;
$colorBeige: #E3CDA4;
$colorGray: #7E827A;
$colorBlue: #2F343B;

/* Grid
   ========================================================================== */

$gridColumns: 12;
$gridGutter: 2%;
$gridSize: (100% - (($gridColumns - 1) * $gridGutter)) / $gridColumns;